.App {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#toolbar {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.1rem solid black;
  border-left: none;
  /* background-color: #f1f1f1; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 1rem;
}

#whiteboard {
  border: 1px solid #000;
  flex-grow: 1;
  margin: 10px;
  /* Set a background color that does not conflict with the drawing color */
  background-color: #fff;
}

#clear {
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  background: linear-gradient(45deg, 
   rgba(255, 0, 0, 0.8) 0%,
   rgba(139, 0, 0, 0.8) 50%,
   rgba(255, 0, 0, 0.8) 100% 
  );
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

#clear:hover {
   background: linear-gradient(45deg, 
     rgba(255, 0, 0, 0.5) 0%,
     rgba(139, 0, 0, 0.5) 50%,
     rgba(255, 0, 0, 0.5) 100%
   );
}

#clear img {
  width: 1.75rem;
  pointer-events: none;
}

#eraser {
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  background: linear-gradient(45deg, 
   rgba(255, 192, 203, 0.8) 0%,
   rgba(255, 76, 203, 0.8) 50%,
   rgba(255, 192, 203, 0.8) 100% 
  );
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

#eraser:hover {
   background: linear-gradient(45deg, 
      rgba(255, 192, 203, 0.5) 0%,
      rgba(255, 76, 203, 0.5) 50%,
      rgba(255, 192, 203, 0.5) 100% 
   );
}

#eraser img {
  width: 1.5rem;
  pointer-events: none;
}

#brush {
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  background: linear-gradient(45deg, 
   rgb(192, 192, 192, 0.8) 0%,
   rgb(116, 116, 116, 0.8) 50%,
   rgb(192, 192, 192, 0.8) 100% 
  );
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

#brush:hover {
   background: linear-gradient(45deg, 
      rgb(192, 192, 192, 0.5) 0%,
      rgb(116, 116, 116, 0.5) 50%,
      rgb(192, 192, 192, 0.5) 100% 
   );
}

#brush img {
  width: 1.5rem;
  pointer-events: none;
}

#notepad {
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  background: linear-gradient(45deg, 
  rgb(255, 255, 0, 0.8) 0%,
  rgb(139, 158, 0, 0.8) 50%,
  rgb(255, 255, 0, 0.8) 100% 
  );
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

#notepad:hover {
   background: linear-gradient(45deg, 
      rgb(255, 255, 0, 0.5) 0%,
      rgb(139, 158, 0, 0.5) 50%,
      rgb(255, 255, 0, 0.5) 100% 
   );
}

#notepad img {
  width: 1.5rem;
  pointer-events: none;
}

.toolbar-container {
  pointer-events: auto;
}

.toolbar-open {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-self: center;
  transition: all 200ms;
  align-items: center;
  pointer-events: none;
}

.toolbar-close {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  transition: all 200ms;
  transform: translateX(-4.5rem);
  pointer-events: auto;
}

.arrow-close {
  transform: rotate(0deg);
  transition: all 200ms;
  border: none;
  background: none;
  cursor: pointer;
}

.arrow-open {
  transform: rotate(180deg);
  transition: all 200ms;
  border: none;
  background: none;
  cursor: pointer;
}

.arrow-icon {
  width: 2rem;
  height: 2rem;
  pointer-events: auto;
}

.copy-icon {
  padding-left: 1rem;
  /* width: 2rem; */
  height: 2rem;
  background-color: transparent;
}

.color-input-wrapper {
  height: 2.75rem;
  width: 2.75rem;
  border: 0.1rem solid black;
  overflow: hidden;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.color-input-wrapper input[type="color"] {
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}

/* Circular cursor */
#circularcursor {
  background-color: transparent;
  border: 1px solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 1000;
}

/* Room ID */
.room-ID {
   position: relative;
   top: 10px;
   left: 10px;
   font-size: 1.5rem;
   background-color: rgb(9, 9, 9);
   color: #fff;
   display: flex;
   padding: 5px;
   position: relative;
   align-items: center;
   justify-content: center;
   font-family: 'Fira Sans', sans-serif;
 }
 
 .room-ID::before {
   content: "Hover here to reveal room ID!";
   font-family: 'Fira Sans', sans-serif;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgb(9, 9, 9);
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
   opacity: 1;
   transition: opacity 0.3s ease;
 }
 
 .room-ID:hover::before {
   opacity: 0;
   cursor:pointer;
 }