.App {
   height: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
}

#whiteboard {
   
}

#toolbar {
   background-color: #f1f1f1;;
   margin-left: 0.1rem;
   padding: 10px;
   display: flex;
   justify-content: start;
   align-items: center;
   /* flex-direction: column; */
   gap: 1rem;
}

#whiteboard {
   border: 1px solid #000;
   flex-grow: 1;
   margin: 10px;
   /* Set a background color that does not conflict with the drawing color */
   background-color: #fff;
}

#clear {
   border-radius: 50%;
   height: 2rem;
   width: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

#eraser {
   border-radius: 50%;
   height: 2rem;
   width: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

#eraser img {
   width: 1rem;
   pointer-events: none;
}
#clear img {
   width: 1.25rem;
   pointer-events: none;
}

.color-input-wrapper {
   height: 2rem;
   width: 2rem;
   overflow: hidden;
   border-radius: 50%;
   display: inline-flex;
   align-items: center;
   position: relative;
 }
 .color-input-wrapper  input[type=color] {
     position: absolute;
     height: 4rem;
     width: 4rem;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     overflow: hidden;
     border: none;
     margin: 0;
     padding: 0;
   }