* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    min-height: 100vh;
    background-image: url('../assets/home-bg.png')
}

#startButton, #joinButton{
    margin: 10px;
    margin-top: 30px;
    background-color: #04AA6D; /* Green */
    padding: 15px 32px;
    color: white;
    border: none;
    border-radius: 32px;
    text-align: center;
    font-size: 16px;
}

#startButton:hover, #joinButton:hover {
    background-color: #05BB7E;
    cursor: pointer;
}

.flex-container {
    display: flex;
    gap: 2rem;
}